body {
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: cursive;
}

.navbar-inverse {
    color: #ffffff;
}

.navbar-brand .brand1{
    color: #009688;
    font-weight: 900;
}

.navbar-brand .brand2{
    color: #f0e68c;
}

.jumbotron{
    background: #000000 url("../resources/img.jpg");
    color: rgba(128, 128, 128, 0.75);
}

.jumbotron h1{
    font-family: cursive;
}

.img-center {
	margin: 0 auto;
}

footer {
    margin: 50px 0;
}